/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core */
@import "./scss/fonts";
@import "./scss/functions";
@import "~bootstrap/functions";
@import "./scss/variables";
@import "~bootstrap/variables";
@import "~bootstrap/maps";
@import "./scss/mixins";
@import "~bootstrap/mixins";
@import "~bootstrap/utilities";
@import "./scss/custom";


// Layout & components
// IN BUILD MODE UNCOMMENT THIS CODE AND ADD COMMENT BOOTSTRAP IMPORT IN ( App.tsx )
@import "./scss/layout";
@import "./scss/card";
@import "~bootstrap/card";

/*
@import "~bootstrap/root";
@import "~bootstrap/reboot";
@import "~bootstrap/type";
@import "~bootstrap/images";
@import "~bootstrap/containers";
@import "~bootstrap/grid";
@import "~bootstrap/tables";
@import "~bootstrap/forms";
@import "~bootstrap/buttons";
@import "~bootstrap/transitions";
@import "~bootstrap/dropdown";
@import "~bootstrap/button-group";
@import "~bootstrap/nav";
@import "~bootstrap/navbar";
@import "~bootstrap/accordion";
@import "~bootstrap/breadcrumb";
@import "~bootstrap/pagination";
@import "~bootstrap/badge";
@import "~bootstrap/alert";
@import "~bootstrap/progress";
@import "~bootstrap/list-group";
@import "~bootstrap/close";
@import "~bootstrap/toasts";
@import "~bootstrap/modal";
@import "~bootstrap/tooltip";
@import "~bootstrap/popover";
@import "~bootstrap/carousel";
@import "~bootstrap/spinners";
@import "~bootstrap/offcanvas";
@import "~bootstrap/placeholders";

// Helpers
@import "~bootstrap/helpers";

// Utilities
@import "~bootstrap/utilities/api";
*/
