.main-layout {
  background: $layout-bg;
  width: $layout-width;
  min-height: $layout-min-height;
  display: $layout-display;

  &.direction-ltr {
    font-family: $font-roboto;
    direction: ltr;
  }


  .main-content {
    width: auto;
    margin: 0;
    padding: 0; 
    > [class*="col-"] {
      padding: 0;
      margin: 0;
    }
  }



}