.main-layout {
  background: $layout-bg;
  width: $layout-width;
  min-height: $layout-min-height;
  display: $layout-display;

  &.direction-ltr {
    font-family: $font-roboto;
    direction: ltr;
  }
  
  .main-content {
    margin: 1rem 0;
  }


}