.main-layout {
  @apply bg-white min-h-[100vh] w-full flex;


  &.direction-ltr {
    font-family: 'Poppins', sans-serif;
    direction: ltr;
  }


  .main-content {
    @apply w-auto m-0 p-0;

    >[class*="col-"] {
      @apply p-0 m-0;
    }
  }

}
